<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Document</title>
     
</head>
<body>
    <form action="/test" method="post">
        <h1>FIND SQUARE||CUBE</h1>
        <select id="option" name="option">
            <option value="square">square</option>
            <option value="cube">cube</option>
        </select>
        <input id="num" type="text" placeholder="input number" name="num">
        <button>submit</button>
    </form>
</body>
</html>
